.sideMenu.admin {
    background: #732281;
}

.sideMenu.admin ul li {
    font-family: 'Tele2SlabWeb-Bold', sans-serif;
    padding: 2em;
    font-size: 2em;
    vertical-align: middle;
    background: #fff;
    width: 25em;
    margin: 1em 0 0 1.5em;
    text-align: center;
    color: #732281;
}

.admin {
    color: #fff;
}