@font-face{
    font-family: 'Tele2SlabWeb-V2-Regular';
    src: url('fonts/Tele2SlabWeb-V2-Regular.eot');
    src: url('fonts/Tele2SlabWeb-V2-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Tele2SlabWeb-V2-Regular.woff') format('woff'),
    url('fonts/Tele2SlabWeb-V2-Regular.ttf') format('truetype'),
    url('fonts/Tele2SlabWeb-V2-Regular.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Tele2SlabWeb-Bold';
    src: url('fonts/Tele2SlabWeb-Bold.eot');
    src: url('fonts/Tele2SlabWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Tele2SlabWeb-Bold.woff2') format('woff2'),
    url('fonts/Tele2SlabWeb-Bold.woff') format('woff'),
    url('fonts/Tele2SlabWeb-Bold.ttf') format('truetype'),
    url('fonts/Tele2SlabWeb-Bold.svg#tele22slab_bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Tele2SlabWeb-Heavy';
    src: url('fonts/Tele2SlabWeb-Heavy.eot');
    src: url('fonts/Tele2SlabWeb-Heavy.eot?#iefix') format('embedded-opentype'),
    url('fonts/Tele2SlabWeb-Heavy.woff') format('woff'),
    url('fonts/Tele2SlabWeb-Heavy.ttf') format('truetype'),
    url('fonts/Tele2SlabWeb-Heavy.svg#tele22slab_Heavy') format('svg');
}

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
.hidden {
    display: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


body {
    background: #161b1f;
    font-family: 'Tele2SlabWeb-Heavy', sans-serif;
    color: #ffffff;
    overflow-x: hidden;
    height: 1536px;
}

    .busy {
        height: 100%;
        background: #fd7d02;
    }

    .free {
        height: 100%;
        background: #43ad2a;
    }


.center {
    padding: 4em;
}

    .head {
        font-family: 'Tele2SlabWeb-V2-Regular', sans-serif;
    }

        .location {
            font-family: inherit;
            font-size: 3em;
        }

        .currentTime {
            font-family: inherit;
            font-size: 3em;
        }

        .hamburger {
            height: 7em;
            background: url(fonts/menu.svg) no-repeat;
            background-size: contain;
            background-position: center;
        }

.meetingInfo {

}

    .statusText {
        padding-top: 1em;
        font-family: 'Tele2SlabWeb-Heavy', sans-serif;
        font-size: 20em;
        line-height: 0.8em;
    }

    .next {
        padding-top: 2em;
        font-family: 'Tele2SlabWeb-V2-Regular', sans-serif;
        font-size: 3em;
    }

    .subj {
        font-family: 'Tele2SlabWeb-Bold', sans-serif;
        font-size: 6em;
    }

.sideMenu {
    list-style: none;
    height: 100%;
}

    div.free div.sideMenu  {
        background: #358a38;
    }

    div.busy div.sideMenu  {
        background: #e57101;
    }

    .sideMenu div.title {
        font-family: 'Tele2SlabWeb-V2-Regular', sans-serif;
        font-size: 2em;
        padding: 2em 0 0.5em 1.5em;
    }

    .sideMenu ul li {
        font-family: 'Tele2SlabWeb-Bold', sans-serif;
        padding: 2em;
        font-size: 2em;
        vertical-align: middle;
        background: #fff;
        width: 25em;
        margin: 1em 0 0 1.5em;
        text-align: center;
    }

        div.busy .sideMenu ul li {
            color: rgb(229, 113, 1);
        }

        div.free .sideMenu ul li {
            color: rgb(53, 137, 56);
        }

    .sideMenu ul li i {
       padding-right: 0.5em;
       top: 3px;
    }


.buttons {
    padding-top: 10em;
}

    .book {
        padding: 1.5em 1em 1.5em 1em;
        font-family: 'Tele2SlabWeb-V2-Regular', sans-serif;
        font-size: 2em;
        text-align: center;
        margin-right: 1em;
        float: right;
    }

    div.free div.active {
        background-color: #ffffff;
        color: #43ad2a;
    }

    div.free div.inactive {
        background-color: #e2e2e0;
        color: #43ad2a;
    }

    .availableTime {
        margin-right: 1em;
        padding: 1.5em 1em 1.5em 1em;
        font-family: 'Tele2SlabWeb-V2-Regular', sans-serif;
        font-size: 2em;
        text-align: center;
        float: right;
    }

        div.busy div.availableTime {
            background-color: #fc8919;
            color: #ffffff;
            float: right;
        }

        div.free div.availableTime {
            background-color: #58b641;
            color: #ffffff;
            float: right;
        }