.sideMenu.report {
    background: #e1061f;
}

.sideMenu.report ul li {
    font-family: 'Tele2SlabWeb-Bold', sans-serif;
    padding: 2em;
    font-size: 2em;
    vertical-align: middle;
    background: #FFFFFF;
    width: 25em;
    margin: 1em 0 0 1.5em;
    text-align: center;
    color: #e1061f;
}

.report {
    font-family: 'Tele2SlabWeb-V2-Regular', sans-serif;
    color: #FFFFFF;
    background: #e1061f;
    height: 100%;
}

.report span.yellow {
    color: #fdeb01;
}

.reportInfo {
    margin-top: 1em;
    font-size: 10em;
    line-height: 0.9em;
}

    .reportInfo .reportEquipment {
        margin-top: 1em;
    }

    .reportInfo .reportEquipment .row {
        margin-bottom: 0.02em;
    }


        .reportInfo .reportEquipment .row div {
            background: #710310;
            padding: 0.5em;
            width: 2em;
            margin-right: 0.02em;
        }

            .reportInfo .reportEquipment div i {
                vertical-align: middle;
                color: #ff0623;
                width: 1.2em;
            }

            .reportInfo .reportEquipment div i.fa {
                margin-left: -0.1em;
            }

            .reportInfo .reportEquipment div i.mega-octicon {
                font-size: inherit;
                margin-left: 0.1em;
            }

            .reportInfo .reportEquipment div i.ion-paperclip {
                font-size: inherit;
                margin-left: 0.3em;
            }

        .reportInfo .reportEquipment .row div.broken i {
            color: #49030b;
        }