<div ng-controller="helpCtrl" class="container-fluid help">
    <div class="center">
        <div class="head">
            <div class="col-md-11">
                <div class="currentTime">{{currentTime}}</div>
                <div class="location">{{roomName}}</div>
            </div>
            <div class="col-md-1 hamburger" ng-click="openMenuOther('help')"/>
        </div>
        <div class="helpInfo">
            <div>Please use a form<br/>to report<br/><span class="black">issue, question or bug</span></div>
            <div class="helpReport">
                <form name="helpForm" novalidate>
                    <fieldset class="clearfix">
                        <p>
                            <span class="glyphicon glyphicon-question-sign"></span>
                            <textarea type="text" name="request" ng-model="request" autocomplete="off"></textarea>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="buttonsHelp">
            <div class="col-md-6 send" ng-click="sendHelpdesk()" stop-event>Send</div>
            <div class="col-md-6 back" ng-click="changeScreen('main')" stop-event>Bring Me Back</div>
        </div>
    </div>
</div>
