<div ng-controller="reportCtrl" class="container-fluid report">
    <div class="center">
        <div class="head">
            <div class="col-md-11">
                <div class="currentTime">{{currentTime}}</div>
                <div class="location">{{roomName}}</div>
            </div>
            <div class="col-md-1 hamburger" ng-click="openMenu()"/>
        </div>
        <div class="reportInfo">
            <div>Please report<br/><span class="yellow">broken or missing</span><br/>equipment</div>
            <div class="reportEquipment">
                <div class="row">
                    <div class="col-md-6 {{video}}" ng-click="tap('video')" stop-event><i class="glyphicon glyphicon-facetime-video"/></div>
                    <div class="col-md-6 {{sound}}" ng-click="tap('sound')" stop-event><i class="glyphicon glyphicon-volume-down"/></div>
                    <div class="col-md-6 {{light}}" ng-click="tap('light')" stop-event><i class="glyphicon glyphicon-lamp"/></div>
                    <div class="col-md-6 {{cleanup}}" ng-click="tap('cleanup')" stop-event><i class="glyphicon glyphicon-trash"/></div>
                    <div class="col-md-6 {{board}}" ng-click="tap('board')" stop-event><i class="glyphicon glyphicon-blackboard"/></div>
                    <div class="col-md-6 {{wifi}}" ng-click="tap('wifi')" stop-event><i class="fa fa-wifi"/></div>
                </div>
                <div class="row">
                    <div class="col-md-6 {{phone}}" ng-click="tap('phone')" stop-event><i class="glyphicon glyphicon-earphone"/></div>
                    <div class="col-md-6 {{monitor}}" ng-click="tap('monitor')" stop-event><i class="fa fa-desktop"/></div>
                    <div class="col-md-6 {{printer}}" ng-click="tap('printer')" stop-event><i class="glyphicon glyphicon-print"/></div>
                    <div class="col-md-6 {{bug}}" ng-click="tap('bug')" stop-event><i class="ionicons ion-bug"/></div>
                    <div class="col-md-6 {{officestuff}}" ng-click="tap('officestuff')" stop-event><i class="ionicons ion-paperclip"/></div>
                    <div class="col-md-6 {{plug}}" ng-click="tap('plug')" stop-event><i class="mega-octicon octicon-plug"/></div>
                </div>
            </div>
        </div>
    </div>
</div>
